body {  
	margin:0px;  
	padding:0px;  
	text-align:center;
	background-color: #999999;	
}

#contentArea {
	padding: 0px;
}

#gameCanvas{
	opacity:0;
	border:1px solid #000;
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;
	width: 480px;
	height: 650px;
}

#statusbar {
	opacity:0;
	background-color: #0F0F0F; 	
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto; 
	width:522px;
	height:40px;
	border:1px solid #000;
}

#heightBar {
	opacity:0;
	background-color: #0F0F0F; 	
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto; 
	width:40px;
	height:650px;
	border:1px solid #000;
}

#menu
{
	opacity: 0;
}

#foot 
{
	background-color: #0F0F0F;
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto; 
	width: 522px;
	height: 50px;
	padding: 0px;
}


#backBtn
{
	margin-top: 5 px;
	background-image: url(../pics/button_back.png);
	height: 30px;
	width: 30px;	
}

#optionBtns
{	
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
	padding: 0px;
	height:40px;
	width:160px;
}

#radio
{	
	margin-left: 360;  
	padding-left: 0px;
	padding-right: 0px;
    float: left;
    width: 90px;
	height: 25px;
}


#radioBtns
{
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
	height:40px;
	width:100px;
}

#playBtn
{
	padding-top: 3px;
	/*background-image: url(../pics/up_arrow_small.png);*/
	background-image: url(../pics/button_play.png);
	height: 40px;
	width: 40px;	
}

#pauseBtn
{
	background-image: url(../pics/button_pause.png);
	height: 30px;
	width: 30px;	
}

#windDirection {
	float:right;
	padding:4px;
}

#overviewOptions
{	
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
}


/* Fortschrittsbalken */
#pwidget
{
  visibility:hidden;
  position:absolute;
  left:600;
  top:300;
  background-color:lightgray;
  width:254px;
  padding:2px;
  -moz-border-radius:3px;
  border-radius:3px;
  text-align:left;
  border:1px solid gray;	
}
#progressbar
{
  position:relative;
  width:250px;
  padding:0 0 0 0;
  background-image:url("../pics/pggray.png");
  height:14px;
  border:1px solid #CCC;
  -moz-border-radius:2px;
  border-radius:2px;	
}
#indicator
{
  position:absolute;
  left:0;
  top:0;
  width:0px;
  background-image:url("../pics/pggreen.png");
  height:14px;
  margin:0 0 0 0;
}
#progressnum
{
  text-align:center;
  width:250px;
}